<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Token:</strong>
    <input type="text" ([ngModel])="currentUser.accessToken" name="accessToken" value="{{currentUser.accessToken}}" disabled/>
  </p>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of roles">
      {{ role.name | uppercase }}
    </li>
  </ul>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>